
<div class = "row">
    <div class = "col-sm text-center">
        <img class = "mx-auto d-block" alt="Creative Commons License" style="border-width:0;margin-bottom:-10px;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br/>
    <small>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </small>
    </div>
</div>
