<h3>Rubrics</h3>
<div class="row">
  <div class="col-9" style = "font-size: 60%;">
    CourseID: {{site.courseid}}<br>
    AssignID: {{ page.title | replace: ' ' }}-{{ page.week }}-{{page.day}}<br>
  </div>
</div>

{% assign isfirst = true %}
{% if page.rubric %}
	{% for r in page.rubric %}
		{% for rubric in site.data.rubrics %}
			{% if r == rubric.rid %}
				
				{% if isfirst %}
					{% assign isfirst = false %}
					<div class = "row">	
						<div class="col-3"> &nbsp; </div>				
					
					{% for lvl in rubric.levels %}
						<div class = "col-2">
							<em style = "font-size: 80%;">{{lvl}}</em>
						</div>
					{% endfor %}
					</div><hr>
				{% endif %}
				
					<div class = "row">	
						<div class="col-3"> <b>{{rubric.name}}</b> </div>				
					{% for crit in rubric.criteria %}
						<div class = "col-2">
							<span style="font-size: 50%; line-height: 1;display: block;">{{crit}}</span>
						</div>
					{% endfor %}
					</div>
			{% endif %}
		{% endfor %}
	{% unless forloop.last %}
		<hr>
	{% endunless %}
	{% endfor %}
{% endif %}

