<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script src="{{site.baseurl}}/js/prism.js"></script>
    
    
    {% include nav.html %}

    <div id="main" role="main" class="container">
      <div class = "row">
        <div class="col-9">
          {{ content }}
        </div>
        {% unless page.url contains "index" %}
        {% assign heading = "xxxnopexxx" %}
        <div class="col-3">
          <ul>
          {% for chapter in (1..10) %}
            {% for section in (1..10) %}
              {% for cp in site.circuitpython %}
                {% if cp.chapter == chapter and cp.section == section %}
                  {% if page.title == cp.title %}
                    <li> <b>{{cp.title}}</b> </li>
                  {% else %}
                    <li> <a href ="{{site.baseurl}}/{{cp.url}}.html">{{cp.title}}</a> </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
        {% endunless %}
      </div> <!-- row -->
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

  </body>
</html>
